<nav class="navbar navbar-light bg-faded sidebarBg">
  <a class="navbar-brand" href="#">
    <img src="./assets/logo.png" height="70px" width="150px" alt="" />
  </a>
  <form class="form-inline" style="float:right">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 btnWhite" type="submit">Search</button>
    <!--<button class="btn btn-default btn-facebook" (click)="onFacebookLoginClick()">
	    <i class="fa fa-facebook fa-fw"></i>login
	</button>-->
  </form>
</nav>