<section class="mb-4" *ngIf="article" style="background-color:white">
    <div class="author-box" style="padding:10px">
        <div class="row">
            <div class="col-xs-1 col-sm-1">
                <img src="{{article.userAvatar}}" class="img-fluid rounded-circle z-depth-1">
            </div>
            <div class="col-xs-12 col-sm-12 articleDiv" style="padding-bottom: 15px">
                <h1>{{article.name}}</h1>
                <span style="float:right;font-size: 11px" class="text-muted">posted by : {{article.author}} | {{article.createdDate}}</span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div [innerHTML]="article.contentHtml">
                </div>
                <div class="post-description">
                    <div class="stats">
                        <span class="pull-right">
                            <b>Share : </b>
                            <button ceiboShare [facebook]="{u: repoUrl}">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </button>
                            <button ceiboShare [linkedIn]="{url:repoUrl}">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </button>
                            <button ceiboShare [twitter]="{url:repoUrl}">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </button>
                            <button ceiboShare [googlePlus]="{url:repoUrl}">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="margin-top: 50px">
    <div class="card">
        <div class="card-header default-color-dark white-text">
            <b>Leave a comment </b>
        </div>
        <div class="list-group">
            <post-comment [userComment]="userComment" (onSubmitted)="updateCommentList($event)"></post-comment>
            <!--<div class="reply-form" style="padding: 5px;">

                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="form22" class="form-control" [(ngModel)]="userName">
                    <label for="form22">Your name</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="form32" class="form-control" [(ngModel)]="userEmail">
                    <label for="form32">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea type="text" id="form18" class="md-textarea" [(ngModel)]="comment" style="width: 100%">
                    </textarea>
                    <label for="form18">Your message</label>
                </div>

                <div class="text-xs-center">
                    <button class="btn btn-primary" type="button" (click)="postCommentData(userName, userEmail, comment); userName=null; userEmail=null; comment=null">Submit</button>
                </div>
            </div>-->
        </div>
    </div>
</section>

<section *ngIf="userComments">
    <div class="card fbMarginTop">
        <div class="card-header default-color-dark white-text">
            <b>User Comments</b>
        </div>
        <ul class="list-group textBlue">
            <li class="list-group-item" *ngFor="let userComment of article.userComments">

                <b>@ {{userComment.userName}} : </b>
                <span class="pull-right">
                    <i class="fa fa-clock-o"></i> {{userComment.date}}
                </span>
                <span class="comment-text">{{userComment.comment}}</span>
            </li>
        </ul>
    </div>
</section>