<div class="card">

  <!--Card image-->
  <img class="img-fluid" src="../assets/AboutUs.png" alt="Card image cap">
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-block">
    <section class="mb-4">
      <div class="author-box">
        <div class="row">
          <h3 class="h3-responsive text-xs-center">Contact Detail</h3>
          <hr>

          <div class=" col-xs-12 col-sm-11">
            <div class="personal-sm">
              <a class="fb-ic" href="https://www.facebook.com/gyanstack"><i class="fa fa-facebook"> </i></a>
              <a class="tw-ic" href="https://twitter.com"><i class="fa fa-twitter"> </i></a>
              <a class="gplus-ic" href="https://plus.google.com/"><i class="fa fa-google-plus"> </i></a>
              <a class="li-ic" href="https://in.linkedin.com/"><i class="fa fa-linkedin"> </i></a>
              <a class="email-ic" href="mailto:support@gyanstack.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-o"> </i></a>
            </div>
            <br>
            <p>
              You may contact to <i><b>GYANSTACKian’s</b></i> to submit any query 
              & suggestions regarding the blogs and enquiry to join hand for affiliate marketing.
            </p>
            <p>
              Though you are always welcome to mail us on any issue or topic you want to 
              discuss with us. We will try our best to respond as soon as early possible.
            </p>
            <p>
              Our Mail Addresses are as below:
            </p>
            <p>
              <a class="email-ic" href="mailto:info.gyanstack@gmail.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-o"> </i> info.gyanstack@gmail.com</a>
            </p>
            <p>
              <a class="email-ic" href="mailto:support@gyanstack.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-o"> </i> Support@gyanstack.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--/.Card content-->

</div>