<section class="row text-center placeholders" style="padding:0px;">
  <div class="col-12 col-sm-12 placeholder" style="padding-left: 0px">
    <div class="card">
      <div class="card-header">
        {{title}}
      </div>
      <div class="card-block">
        <div class="list-group">
          <li class="list-group-item justify-content-between">
          <h5><a routerLink="/create_vpn_connection/1" routerLinkActive="active">How to create vpn connection ?</a></h5>
          <p>
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            Test description test description test description test description test description test description test description test
            description test description test description test description test description test description test description
            test description test description test description test description test description test description
          </p>
          <a routerLink="/create_vpn_connection/1" class="btn btn-default btn-sm">read more...</a>
          </li>
           <li class="list-group-item justify-content-between">
          <h5><a routerLink="/create_vpn_connection/1" routerLinkActive="active">How to create vpn connection ?</a></h5>
          <p>
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            Test description test description test description test description test description test description test description test
            description test description test description test description test description test description test description
            test description test description test description test description test description test description
          </p>
          <a routerLink="/create_vpn_connection/1" class="btn btn-default btn-sm">read more...</a>
          </li>
           <li class="list-group-item justify-content-between">
          <h5><a routerLink="/create_vpn_connection/1" routerLinkActive="active">How to create vpn connection ?</a></h5>
          <p>
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            Test description test description test description test description test description test description test description test
            description test description test description test description test description test description test description
            test description test description test description test description test description test description
          </p>
          <a routerLink="/create_vpn_connection/1" class="btn btn-default btn-sm">read more...</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>