<section class="row text-center placeholders" style="padding:0px;">
  <div class="col-12 col-sm-12 placeholder" style="padding-left: 0px">
    <div class="card">
      <div class="card-header">
        {{title}}
      </div>
      <div class="card-block">
        <div class="list-group">
          <li class="list-group-item justify-content-between" *ngFor="let content of vpnContentList">
          <h4><a routerLink="{{content.routeLink}}" routerLinkActive="active">{{content.question}}</a></h4>
           <p>
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            <span>{{content.answerShortDescription}}</span>
          </p>
          <a routerLink="{{content.routeLink}}" class="btn btn-default btn-sm">read more...</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>