<div class="row">
  <div class="col-md-12">
    <a routerLink="/services/vpn">
      <div class="col-md-3 tile1">
        <h1>VPN</h1>
        <p>The education I got from Lynda.com helped me work with industry pros and know what I'm talking about</p>
      </div>
    </a>
    <a routerLink="/services/cloud">
      <div class="col-md-3 tile2">
        <h1>Cloud</h1>
        <p>The education I got from Lynda.com helped me work with industry pros and know what I'm talking about</p>
      </div>
    </a>
    <a routerLink="/services/backup">
      <div class="col-md-3 tile3">
        <h1>Backup</h1>
        <p>The education I got from Lynda.com helped me work with industry pros and know what I'm talking about</p>
      </div>
    </a>
    <a routerLink="/services/antivirus">
      <div class="col-md-2 tile4">
        <h1>Antivirus</h1>
      </div>
    </a>
    <a routerLink="/services/ios">
      <div class="col-md-2 tile5">
        <h1>ios</h1>
      </div>
    </a>
    <a routerLink="/services/android">
      <div class="col-md-2 tile6">
        <h1>Android</h1>
      </div>
    </a>
  </div>
</div>