<div class="row">
  <div class="col-md-12">
    <a routerLink="/services/internet">
      <div class="col-md-3 tile1">
        <h1>internet</h1>
        <p>The education I got from Lynda.com helped me work with industry pros and know what I'm talking about</p>
      </div>
    </a>
    <a routerLink="/services/mac">
      <div class="col-md-3 tile2">
        <h1>mac</h1>
        <p>The education I got from Lynda.com helped me work with industry pros and know what I'm talking about</p>
      </div>
    </a>
    <a routerLink="/services/windows">
      <div class="col-md-3 tile3">
        <h1>windows</h1>
        <p>The education I got from Lynda.com helped me work with industry pros and know what I'm talking about</p>
      </div>
    </a>
    <a routerLink="/services/gadgets">
      <div class="col-md-2 tile4">
        <h1>Gadgets</h1>
      </div>
    </a>
    <a routerLink="/services/ios">
      <div class="col-md-2 tile5">
        <h1>ios</h1>
      </div>
    </a>
    <a routerLink="/services/android">
      <div class="col-md-2 tile6">
        <h1>Android</h1>
      </div>
    </a>
  </div>
</div>