<div class="row hidden-xs-down hidden-sm-down">
  <div class="col-md-12">
    <a routerLink="/services/Internet/top_download_managers_for_your_machine/20">
      <div class="col-md-3 col-xs-12">
        <img src="http://www.gyanstack.com/Content/Thumbnails/Thumbnail1.png" class="img-fluid">
      </div>
    </a>
    <a routerLink="/services/Internet/best_web_browser_to_look_out_for/21">
      <div class="col-md-3 col-xs-12">
        <img src="http://www.gyanstack.com/Content/Thumbnails/Thumbnail2.png" class="img-fluid">
      </div>
    </a>
    <a routerLink="/services/Android/Wifi_hotspot_share_your_android_device_internet_connection_with_others/3">
      <div class="col-md-3 col-xs-12">
        <img src="http://www.gyanstack.com/Content/Thumbnails/Thumbnail3.png" class="img-fluid">
      </div>
    </a>
    <a routerLink="/services/Miscellaneous/Top_10_Women_personal_safety_apps/8">
      <div class="col-md-3 col-xs-12">
        <img src="http://www.gyanstack.com/Content/Thumbnails/Thumbnail4.png" class="img-fluid">
      </div>
    </a>
  </div>
</div>