<div class="card">
  <div class="card-block grad3 col-md-4" style="background-color:black;border-radius:5px; padding:12px;text-align:center">
    <a class="btn btn-danger" style="color:white" routerLink="./antivirus">
      <h1 style="font-size:23px">
        <i class="fa fa-umbrella" aria-hidden="true"></i>
        <br> A n t i v i r u s &nbsp;&nbsp;
      </h1>
    </a>
  </div>

  <div class="card-block grad3 col-md-4" style="background-color:black;border-radius:5px; padding:12px;text-align:center">
    <a class="btn btn-warning" style="color:white" routerLink="./vpn">
      <h1 style="font-size:23px">
        Virtual
        <i class="fa fa-wifi" aria-hidden="true"></i>
        <br> Private Network
      </h1>
    </a>
  </div>

  <div class="card-block grad3 col-md-4" style="background-color:black;border-radius:5px; padding:12px;text-align:center">
    <a class="btn btn-primary" style="color:white" routerLink="./webHosting">
      <h1 style="font-size:23px">
        <i class="fa fa-cloud" aria-hidden="true"></i>
        <br> Web Hosting
      </h1>
    </a>
  </div>
  <hr>
</div>

<div class="row">
  <div class="col-md-12">
    <router-outlet>
      <!-- <offer-list></offer-list> -->
    </router-outlet>
  </div>
</div>