<app-header></app-header>
<div class="container bg" style="padding: 50px 15px 15px 15px">
	<!-- <div class="row">
		<div class="col-md-12  hidden-xs-down hidden-sm-down" style="padding-top:12px">
			<app-header-featured></app-header-featured>
		</div>
	</div> -->
	<div class="row" style="background-color:#f1f4f9">
		<div class="col-sm-12 col-md-12 col-lg-8" style="padding-top:12px">
			<router-outlet style="padding: 0px"></router-outlet>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-4" style="padding-top:12px">
			<app-advertisment></app-advertisment>
		</div>
	</div>
</div>
<footer>
	<nav class="navbar navbar-dark bg-inverse sidebarBg" style="padding: 0px;">
		<div class="container noLeftPad sidebarBg">
			<nav class="nav navbar-nav sidebarBg">
				<a routerLink="/" style="color:white">
					<i class="fa fa-home icon"> </i>
				</a> |
				<a routerLink="about" style="color:white"> About Us</a> |
				<a routerLink="contact" style="color:white"> Contact Detail</a> |
				<a routerLink="disclaimer" style="color:white"> Disclaimer</a>
				<span class="pull-right" ><a href="#" style="color:white">Back to top</a></span>
			</nav>
		</div>
	</nav>
</footer>

<aside id="sticky-social">
	<ul>
		<li>
			<a href="https://www.facebook.com/gyanstack" class="entypo-facebook" target="_blank">
				<span>Facebook</span>
			</a>
		</li>
		<li>
			<a href="https://twitter.com" class="entypo-twitter" target="_blank">
				<span>Twitter</span>
			</a>
		</li>
		<li>
			<a href="https://plus.google.com/" class="entypo-gplus" target="_blank">
				<span>Google+</span>
			</a>
		</li>
		<li>
			<a href="https://in.linkedin.com/" class="entypo-linkedin" target="_blank">
				<span>LinkedIn</span>
			</a>
		</li>
		<!--<li><a href="https://www.instagram.com/" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>-->
		<!--<li><a href="https://www.stumbleupon.com/" class="entypo-stumbleupon" target="_blank"><span>StumbleUpon</span></a></li>
			<li><a href="https://in.pinterest.com/" class="entypo-pinterest" target="_blank"><span>Pinterest</span></a></li>
			<li><a href="https://www.flickr.com/" class="entypo-flickr" target="_blank"><span>Flickr</span></a></li>
			<li><a href="https://www.tumblr.com/" class="entypo-tumblr" target="_blank"><span>Tumblr</span></a></li>-->
	</ul>
</aside>