<table class="table table-bordered table-hovewered sidebarBg">
  <tr>
    <td>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Dashboard</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="#parent1" data-toggle="collapse" aria-expanded="false" aria-controls="parent1">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Services</a>
    </td>
  </tr>
  <tr class="collapse in" id="parent1" aria-expanded="true">
    <td>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a routerLink="/services/vpn" routerLinkActive="active">VPN</a></li>
          <li class="list-group-item"><a routerLink="/services/cloud" routerLinkActive="active">Cloud</a></li>
          <li class="list-group-item"><a routerLink="/services/backup" routerLinkActive="active">Backup</a></li>
          <li class="list-group-item"><a routerLink="/services/antivirus" routerLinkActive="active">Antivirus</a></li>
        </ul> 
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <a href="#parent2" data-toggle="collapse" aria-expanded="false" aria-controls="parent2">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Tips and Tricks</a>
    </td>
  </tr>
  <tr class="collapse" id="parent2">
    <td>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a [routerLink]="['tips_n_tricks', 1]"> Internet </a></li>
          <li class="list-group-item"><a [routerLink]="['tips_n_tricks', 2]">Networking</a></li>
        </ul>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="Mobile">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Mobile Stuff</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="Gadgets">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Gadgets</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="Miscellanious">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Miscellanious</a>
    </td>
  </tr>
  <tr>
    <td>
      <a routerLink="Deals">
        <i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Deals</a>
    </td>
  </tr>
</table>