<!--Section: Author box-->

<div class="card-block grad1" style="background-color:black;border-radius:5px">
  <!--Title-->
  <h5 class="card-title" style="color:white">
    Here at Gyanstack, we welcome to all the technology enthusiastic who loves to learn new tech tips & share their technical
    knowledge to help others to come out from a situation.
  </h5>
  <hr>
  <!--Text-->
  <div class="pull-right">
    <a class="btn btn-primary" routerLink="about">know more</a>
  </div>

  <div class="personal-sm">
    <a class="fb-ic" href="https://www.facebook.com/gyanstack"><i class="fa fa-facebook"> </i></a>
    <a class="tw-ic" href="https://twitter.com"><i class="fa fa-twitter"> </i></a>
    <a class="gplus-ic" href="https://plus.google.com/"><i class="fa fa-google-plus"> </i></a>
    <a class="li-ic" href="https://in.linkedin.com/"><i class="fa fa-linkedin"> </i></a>
    <a class="email-ic" href="mailto:support@gyanstack.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-o"> </i></a>
  </div>
</div>

<i class="fa fa-circle-o-notch fa-5x fa-spin divcentered" *ngIf="isLoaded"></i>
<div *ngIf="dashboardList">
  <div class="card" *ngFor="let dashboard of dashboardList" style="margin-top:10px;">
    <div class="card-header default-color-dark white-text">
      <b>{{dashboard.title}}</b>
    </div>
    <div class="row">
      <div class="col-sm-6" style="background-color:#f1f4f9" *ngFor="let article of dashboard.articles">
        <!--Card content-->
        <div class="card wrapTextCard grad2">
          <!--Title-->
          <h5 class="card-title wrapTextCardTitle">
            <a routerLink="{{article.section}}/{{article.subsection}}/{{article.route}}/{{article.id}}" class="listArticleHeader">
              {{article.name}}
            </a>
          </h5>
          <hr>
          <div class="dashboard-thumb">
            <a routerLink="{{article.section}}/{{article.subsection}}/{{article.route}}/{{article.id}}" class="listArticleHeader">
              <img src="./assets/images.png" alt="gyanstack"/>
            </a>
          </div>
          <!--Text-->
          <!-- <p class="card-text"> -->
          <div class="wrapText">{{article.description}}</div>
          <!-- </p> -->
          <div class="pull-right">
            <!-- <a class="btn btn-primary">Read more</a> -->
            <a routerLink="{{article.section}}/{{article.subsection}}/{{article.route}}/{{article.id}}" class="btn btn-promary btn-sm"
              style="font-size: 13px">Read more...</a>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<div *ngIf="otherList">
  <div class="card" *ngFor="let list of otherList">
    <div class="card-header default-color-dark white-text">
      <a routerLink="services/{{list.title}}" style="color:#414A51"><b>{{list.title}}</b></a>
    </div>
    <ul class="list-group textBlue">
      <li class="list-group-item grad2" *ngFor="let article of list.articles">
        <!--<i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>-->
        <a routerLink="services/{{article.subsection}}/{{article.route}}/{{article.id}}">
          <div [innerHTML]="article.name">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>