<section class="row text-center placeholders" style="padding:10px 10px 10px 0px;">
  <div class="col-8 col-sm-8 placeholder" style="padding-left: 0px">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-block" style="text-align: center">
        <i class="fa fa-circle-o-notch fa-spin">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="300" 
          height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"/>
            </i>
        <div class="text-muted"><b>Comming soon...</b></div>
      </div>
    </div>
  </div>
  <div class="col-4 col-sm-4 placeholder" style="padding-left: 0px">
    <div class="card">
      <div class="card-header">
        Latest
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item active justify-content-between">
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            <a href="#Test_data_to_check_upcoming_event_details">Test data to latest details</a>
          </li>
          <li class="list-group-item justify-content-between">
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            <a href="#Test_data_to_check_upcoming_event_details">Test data to latest details</a>
          </li>
          <li class="list-group-item justify-content-between">
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            <a href="#Test_data_to_check_upcoming_event_details">Test data to latest details</a>
          </li>
          <li class="list-group-item justify-content-between">
            <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
            <a href="#Test_data_to_check_upcoming_event_details">Test data to latest details</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>