<!-- <div class="card">
    <div class="google-media-search" [innerHTML]="gcsesearch"></div>
</div> -->

<div *ngIf="advertiseList">
    <div class="card" *ngFor="let list of advertiseList">
      <div class="card-header default-color-dark white-text">
        <a routerLink="services/{{list.title}}" style="color:#414A51"><b>{{list.title}}</b></a>
      </div>
      <ul class="list-group textBlue">
        <li class="list-group-item grad2" *ngFor="let article of list.articles">
          <!--<i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>-->
          <a routerLink="{{article.section}}/{{article.subsection}}/{{article.route}}/{{article.id}}" target="_blank">
            <div [innerHTML]="article.name">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>







<!-- <div class="card" *ngIf="mostViewed">
  <div class="card-header default-color-dark white-text">
    <b>Most Viewed</b>
  </div>
  <ul class="list-group textBlue">
    <li class="list-group-item grad2" *ngFor="let article of mostViewed" style="padding:5px">
      <a routerLink="services/{{article.subsection}}/{{article.route}}/{{article.id}}">
        <div [innerHTML]="article.name">
        </div>
      </a>
    </li>
  </ul>
</div> -->

<div class="card">
  <ul class="list-group">
    <li class="list-group-item justify-content-between grad2">
      <b>Connect with us...</b>
    </li>
    <li class="list-group-item justify-content-between">
      <span class="text-muted">Like us on Facebook...</span>
      <div class="fb-like" data-href="https://www.facebook.com/gyanstack" data-layout="button_count" data-action="like" data-size="large"
        data-show-faces="true" data-share="true"></div>
    </li>
  </ul>
</div>