<div class="card">
    <div class="google-media-search" [innerHTML]="gcsesearch"></div>
</div>
<div class="card" *ngIf="mostViewed">
  <div class="card-header default-color-dark white-text">
        <b>Most Viewed</b>
    </div>
  <ul class="list-group textBlue">
        <li class="list-group-item" *ngFor="let article of mostViewed">
          <!--<i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>-->
          <a routerLink="services/{{article.subsection}}/{{article.route}}/{{article.id}}" >
            <div [innerHTML]="article.name" style="font-size: 14px; color:rebeccapurple">
            </div>
          </a>
        </li>
      </ul>
  <!--<ul class="list-group textBlue">
    <li class="list-group-item">
      <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
      <a routerLink="Change_Background_Color_and_Image_of_Splash_Screen_in_Microsoft_Edge"><b>Windows 10 Tip:</b> Change Background Color and Image of Splash Screen in Microsoft Edge</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
      <a routerLink="dashboard"><b>Windows 10 Tip:</b> Registry Tweaks to Customize UI of Alt+Tab, Task View and Snap Assistant </a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
      <a routerLink="dashboard">Transform Windows 7 into Windows 8.1 without using Customization Pack</a>
    </li>
    <li class="list-group-item">
      <i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>
      <a routerLink="dashboard">Customize Start Screen Tiles Background Color, Text Color and Logo in Windows 8.1</a>
    </li>
  </ul>-->
</div>
<div class="card">
  <ul class="list-group">
    <li class="list-group-item justify-content-between">
      <b>Connect with us...</b>
    </li>
    <li class="list-group-item justify-content-between">
      <span class="text-muted">Like us on Facebook...</span>
      <div class="fb-like" data-href="https://www.facebook.com/gyanstack" data-layout="button_count" data-action="like" data-size="large"
        data-show-faces="true" data-share="true"></div>
    </li>
  </ul>
</div>