.navbar {
    padding-bottom: 0px !important;
}

.card ul :hover{
    background-color: darkgray
}

.sidebarBg{
background-color: indianred !important;
}

.sidebarBg tr td{
    background-color: indianred !important;
}

td a{ 
    color:white;
    font-weight: bold;
}

.card ul li a{
   color:black; 
   font-weight: 400;
}

.noLeftPad{
    padding-left: 0px !important;
}

.btnWhite{
    border-color: white !important;
    color:white !important;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 19px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 17px;
}

h5{
    font-size: 16px;
}

h5{
    font-size: 14px;
}

.my-2{
    padding: 2px 10px 2px 10px;
}

.textBlue{
    color:darkslateblue
}

.textBlue li a{
    color:darkslateblue !important;
}